@use "../media.module" as *;
@use "../mixin.module" as *;

.admin {
    background-color: black;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    @include flex();
    padding: 20px;
}

.sidebar {
    width: 400px;
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;
    color: white;
    @include flex(column, start);
}

.container_siderbar {
    min-height: 600px;
    @include flex(column, start, start);
    padding-top: 80px;
    gap: 120px;
}

.sidebar ul {
    font-size: 28px;
    font-weight: 700;
    @include flex(column, start, start);

    gap: 30px;
}

.main {
    width: calc(100% - 400px);
    background-color: white;
    height: 100%;
    border-radius: 40px;
}

.upper_part {
    @include flex(column, start, start);
    gap: 17px;
}

.name_email {
    @include flex(column, start, start);
    font-size: 28px;
    font-weight: 700;
    gap: 17px;
}

.name_email h3 {
    font-size: 18px;
    opacity: 0.6;
    font-weight: normal;

}

.portfolio_list {
    font-size: 20px !important;
    display: grid;
    grid-template-rows: 0fr;
    gap: 15px;
    padding: 0px;
    overflow: hidden;
    transition: all 200ms ease-in-out;
}


.portfolio_list div {
    overflow: hidden;
}