@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid($col: repeat(2, 1fr), $content: center, $items: center) {
    display: grid;
    place-content: $content;
    place-items: $items;
    grid-template-columns: $col;
}

@mixin heading($color: white, $size: 2.7rem) {
    font-size: $size;
    font-weight: 1000;
    color: $color;
    line-height: 54px;

    @media (max-width:600px) {
        font-size: 1.8rem;
           line-height: 34px;
    }

}

@mixin colorText($color: white) {
    color: $color;
    font-size: 1rem;
    line-height: 27px;

    @media (max-width:500px) {
        font-size: 1rem;
    }
}

@mixin btn($color: white, $bgcolor: #C707E4, $border: 1px solid #C707E4, $radius: 5px, $weight: 700) {
    color: $color;
    // background-color: $bgcolor;
    border-radius: $radius ;
    font-weight: $weight;
    // border: $border;
    // padding: 13px 19px;
    font-size: 16px;
}

@mixin PaddingPage($padTB: 2.5rem, $padLR: 2.5rem) {
    padding: $padTB $padLR;

    @media (max-width:500px) {
        // padding: 2.5rem 0.8rem;
          padding: 60px 20px;
    }
}

@mixin Background($url, $rep: no-repeat, $pos: center center, $size: cover) {
    background: url($url) $rep $pos / $size;
}

@mixin divider($color:#360F4F,$height:1px,$width:100%){
    background-color: $color;   
    width: $width;
    height:$height;
}