@use "../mixin.module" as *;
@use "../media.module" as *;

.Creations {
    @include PaddingPage();
    @include flex(column);
    @include Background("https://res.cloudinary.com/dp6b6emb9/image/upload/v1760201093/BG_GRADIENT_rxq6at.png");
}

.grid_conatiner {
    @include grid(570px 570px);
    gap: 10px;
    margin-top: 20px;
}

.select_box {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    position: relative;
}

.selected_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    position: absolute;
    z-index: 3;
    background-color: white;
    width: 100%;
    left: 0px;
    top: calc(100% + 10px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 300ms ease;
    overflow: auto;

}

.item:first-child {
    grid-column: span 2;
    width: 100%;
}

.item:nth-last-child(1):nth-child(even) {
    grid-column: span 2;
}

.select {
    @include flex(column, start, start);
    gap: 10px;
}

.select select {
    width: 100%;
    min-height: 44px;
}

.item {
    height: 400px;
    width: 100%;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    // background: url("https://res.cloudinary.com/dp6b6emb9/image/upload/v1760267098/quickvila_swirl365_rzev04.webp");
    background-size: cover;
    background-position: center;
}

.option:nth-child(1):hover {
    background-color: #c707e4;
}

.item:hover .bg_black {
    background-color: black;
    width: 100%;
    opacity: 0.6;
    border-radius: 0px 0px 0px 0px;
}

.bg_black {
    width: 0%;
    height: 100%;
    border-radius: 0px 400px 400px 0px;
    transition: all 300ms ease-in-out;
    position: relative;
}

.play_btn {
    // background-color: aqua;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.btn {
    @include btn();
    align-self: end;
}

.text_section {
    text-align: center;
}


.input_btn {
    @include flex(row, space-around);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 9px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 20px;
    max-width: 850px;
    gap: 20px;
    margin: 0 auto;
}

.input_btn .select label {
    text-transform: capitalize;

}

.input_btn>* {
    width: 100%;
}

@include TwelveHundred {
    .grid_conatiner {
        @include grid(1fr 1fr);
    }

    .item {
        // height: 350px;
        background-color: red;
        width: 100%;
    }
}

@include NineNine2 {
    .grid_conatiner {
        @include grid(1fr);
    }

    .item {
        width: 100%;
        grid-column: span 2;
    }
}

@include tablet {


    .item {
        height: 320px;
        width: 100%;
        grid-column: span 2;
    }
}

@include largemobile {
    .input_btn {
        flex-direction: column;
        gap: 10px;
    }

    .select label {
        text-align: center;
        width: 100%
    }

}