@use "../media.module" as *;
@use "../mixin.module" as *;

.imagetext {
    @include flex();
    gap: 30px;
}

.imagetext .text,
.imagetext .image {
    width: 50%;
}
.ball{
    position: absolute;
    left: 100px;
    top:300px;
}
.imagetext .text {
    @include colorText(black);

}

.imagetext .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about {
    @include flex();
    @include PaddingPage();
    @include Background('https://res.cloudinary.com/dp6b6emb9/image/upload/v1760201093/BG_GRADIENT_rxq6at.png');
    padding: 80px 20px;
}

.about h1 {
    @include heading(black);
}

.container_about {
    @include flex(column);
  gap: 60px;
}

.upper_Text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:25px;
}
.upper_Text  p{
       max-width: 700px;
    margin: 0 auto;
   @include colorText(black);
}

.about h3 {
    @include heading(black);
}

.imageTextParent {
    @include flex(column);
    gap: 40px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}


@include NineNine2 {
    .imageTextParent{
        gap: 10px;
    }
 
        .imagetext {
        flex-direction: column-reverse;
    }

    .imagetext:nth-child(2) {
        flex-direction: column;
    }
    .text{
        text-align: center;
        width: 100% !important;
    }
    .image {
        width: 100% !important;
    }
    .ball{
    position: absolute;
    left: 0px;
    top:330px;
    width: 300px;
}  
}
@include largemobile{
 .imageTextParent{
        padding: 20px;
    }
    .about{
        padding: 60px 20px;
    }
}
