body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-inter), sans-serif;

}

* {
  box-sizing: border-box;
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
}

blockquote {
  margin: 0;
}

figure {
  margin: 0;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  width: 1150px;
}

a {
  text-decoration: none;

}


.wrapper {
  perspective: 1000px;
  max-width: 180px;
}

.box_area {
  position: relative;
  height: 52px;
  width: 180px;
  transform-style: preserve-3d;
  transition: transform 200ms ease-in-out;
  transform: translateZ(-25px);
}

.box_area:hover {
  transform: rotateX(-90deg) translateY(25px);
}

.box {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

.size_one {
  color: #fff;
  transform: translateZ(25px);

}

.size_two {
  color: #fff;
  transform: rotateX(90deg) translateZ(25px);

}

.pink_bg_btn {
  background-color: rgb(199, 7, 228);
  border: 5px solid rgb(199, 7, 228);
}

.black_bg_btn {
  background-color: rgb(7, 7, 7);
  border: 5px solid rgb(0, 0, 0);
}

.white_bg_btn {
  color: #360f50;
  background-color: rgb(238, 236, 236);
  border: 5px solid rgb(248, 248, 248);
}

.purple_bg_btn {
  color: #fff;
  background-color: #360f50;
  border: 5px solid #360f50;
}

option {
  background-color: white !important;
  color: black;
}

body:has(.Home) nav {

  position: fixed !important;
  left: 50%;
  transform: translate(-50%);
  


}


section.Home nav {
  display: none;
}

@media (max-width:1200px) {
  html {
    font-size: 14.5px;
  }

  .container {
    width: 100%;
  }
}

@media (max-width:500px) {
  html {
    font-size: 13.5px;
  }
}