@use "../mixin.module" as *;
@use "../media.module" as *;

.reviewslideSection {
    @include flex(column);
    // @include PaddingPage();
}

.reviewslideSection h2 {
    @include heading(black);
    text-align: center;
    display: flex;
    margin-bottom: 20px;
    padding:0px 20px;
    box-sizing: border-box;
    // width: 80%;
}

// .container {
//     max-width: 1150px;
//     margin: 0 auto;
// }
.card_slider{
      padding:0px 20px;
}
.cards_section {
    @include flex();
    gap: 20px;
    padding: 40px 0px;

}

.card {
    // background-color: red;
    overflow: hidden;
}

.card figcaption {
    @include flex(column, start, start);
    gap: 10px;
}

.name {
    font-weight: 1000;
}

.designation {
    font-size: 18px;
}

.card {
    @include flex(column, start, start);
    gap: 10px;
    box-shadow: 0px 0px 30px 0px #c707e428;
    background-color: white;
    border-radius: 5px;

}

.card_description {
    padding: 10px;
}

.Navigations_Cards {
    @include flex();
    width: max-content;
    margin: 20px auto;
    gap: 8px;

}

.Navigations_Cards .prev,
.Navigations_Cards .next,
.Navigations_Cards .pagination {
    @include flex();
    flex-shrink: 0;
    cursor: pointer;
}

.Navigations_Cards .pagination {
    width: max-content !important;

}
.img1{
    position: relative;
}
.play_btn{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
    padding: 2px 2px 2px 2px;
    border-radius: 100px;
    @include flex(column,start);
    transition: all 300ms ease;
    cursor: pointer;
}
.play_btn svg{
    transition: all 300ms ease;
}
.play_btn:hover svg{
    fill:#c707e4;
}
.pagination {
    :global(.swiper-pagination-bullet-active) {
        background-color: #c707e4;
        box-shadow: 0px 0px 30px 0px #c707e428;
    }
}

.Navigations_Cards .prev,
.Navigations_Cards .next {
    background-color: #c707e4;
    width: 38px;
    height: 38px;
    border-radius: 50%;

}

.img1 {
    width: 100%;
}

.img1 img {
    width: 100%;
    border-radius: 5px;
}
.img2 img{
    width: 120px;
    padding:20px 0px;
}
.stars img{
    width: 21px;
    height: 21px;
}
.stars{
    padding-top: 20px;
}
@include TwelveHundred() {
    .container {
        width: 100%;
        padding: 0px 20px;
    }
}

@include NineNine2() {
    .cards_section {
        flex-wrap: wrap;
        gap: 40px;
    }

    // .card {
    //     width: 44%;
    // }
}

@include tablet() {
    .card {
        width: 95%;
    }

    .reviewslideSection h2 {
        width: 100%;
    }

    .card {
        width: 100% !important;
    }

}