@use "../media.module" as *;
@use "../mixin.module" as *;


.swiper{
    user-select: none;
}
.slider_img{
    width: 100%;
}
.projectslider{
    @include Background("https://res.cloudinary.com/dp6b6emb9/image/upload/v1760204183/Project_Slider_BG_lkh9wt.webp");
   padding: 80px 0px ; 
}
.projectslider header{
      padding: 0px 20px 48px 20px; 
      @include flex(column);    
      gap: 20px;
}
.btn{
    @include flex();
    margin-top: 20px;
}
.project_slide{
    position: relative;
}
.project_slide:hover .overlay{
   
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    
}
.overlay{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 300ms ease;
}
.overlay svg{
    filter: drop-shadow(0px 0px 30px 0px #c707e4);
}
.projectslider header h2{
    @include heading();
      @include flex(column);    
        max-width: 900px;
        text-align: center;
}
.projectslider header p{
    @include colorText();
    text-align: center;
}
.end_section{
    @include flex(column);
    padding-top: 28px;
}
.btn button{
    @include btn();
}
.projectslider p{
    color: white;
        max-width: 870px;
    text-align: center;
line-height: 25px;
margin:0 auto;
}
.end_section{
     @include flex(column);  
      gap: 20px;
}
.end_section p{
max-width: 430px;
    text-align: center;
line-height: 25px;
}



