@use "../mixin.module" as *;
@use "../media.module" as *;

.section7 {
    padding: 80px 20px;
}

.container_parent {
    margin: 0 auto;

}

.section7 header {
    @include flex(column);
    text-align: center;
    gap: 15px;
    margin-bottom: 25px;
}

.section7 header small {
    color: #C707E4;
}

.section7 h2 {
    @include heading(black);
}

.Quotes {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "quote_1 quote_2 quote_6" "quote_1 quote_4 quote_6" "quote_3 quote_5  quote_6";
    gap: 17px;
}

.quote {
    background-color: #F4EFFF;
    border-radius: 24px;
    padding: 40px 30px;
    @include flex(column, space-between, flex-start)
}

.quote blockquote {
    line-height: 36px;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width:1170px) {
    .Quotes {
        grid-template-areas: "quote_1 quote_2 ." "quote_1 quote_4 ." "quote_3 quote_5 ." "quote_6 quote_6 .";

    }

    .quote blockquote {
        font-size: 16px;
    }

}

@include tablet {
    .quote_6 {
        display: none;
    }

    .Quotes {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .quote:nth-child(1) {
        display: none;
    }

    .quote:nth-child(3) {
        display: none;
    }

    .quote {
        padding: 20px 15px;
        width: 100%;
    }

}