.video_div{
        position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
      &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }
}

.video {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
     height: 100%; 
       object-fit: cover; 
}
