@use "../media.module" as *;
@use "../mixin.module" as *;


.swiper{
    user-select: none;
    margin-bottom:20px;
}
.slider_img{
    width: 100%;
}
.projectslider{
    @include Background("https://res.cloudinary.com/dp6b6emb9/image/upload/v1760204183/Project_Slider_BG_lkh9wt.webp");
   padding: 80px 0px ; 

}
.projectslider header{
      padding: 0px 20px 48px 20px; 
      @include flex(column);    
      gap: 20px;
}
.btn{
    @include flex();
    margin-top: 20px;
}
.project_slide{
    position: relative;
    width: 800px !important;
    flex-shrink: 0;
}
.project_slide img{
    height: 400px ;
    object-fit: cover;

}
.project_slide:hover .overlay{
   
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    
}
.overlay{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 300ms ease;
}
.play_btn {
  filter:
    drop-shadow(0 0 10px rgba(255,255,255,1))
    drop-shadow(0 0 20px rgba(255,255,255,0.1))
    drop-shadow(0 0 40px rgba(255,255,255,0.2));

    cursor: pointer;
}
.video{
    position: fixed;
    top: 55%;
    z-index: 999;
    left: 50%;
    transform: translate(-50%,-50%);
}
.close_btn{
        position: fixed;
        z-index: 999;
        right: 10px;
        top:10px;
}
.projectslider header h2{
    @include heading();
      @include flex(column);    
        max-width: 900px;
        text-align: center;
}
.projectslider header p{
    @include colorText();
    text-align: center;
}
.end_section{
    @include flex(column);
    // padding-top: 28px;
}
.btn button{
    @include btn();
}
.projectslider p{
    color: white;
        max-width: 870px;
    text-align: center;
line-height: 25px;
margin:0 auto;
}
.end_section{
     @include flex(column);  
      gap: 20px;
}
.end_section p{
max-width: 430px;
    text-align: center;
line-height: 25px;
}

@media (max-width:1170px){
        .project_slide{
    width: 600px !important;
}
.project_slide img{
    height: 300px ;
    object-fit: cover;

}
}

@include tablet{
    .swiper{
        padding:0px 10px !important;
    }
            .project_slide{
    width: 100% !important;
}
.project_slide img{
    height: 100% ;
    object-fit: cover;
    max-height: 220px;
}
}
