@mixin TwelveHundred {
    @media (max-width:1200px) {
        @content;
    }
}

@mixin laptop {
    @media (max-width:1024px) {
        @content;
    }
}

@mixin NineNine2 {
    @media (max-width:992px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width:768px) {
        @content;
    }
}

@mixin largemobile {
    @media (max-width:500px) {
        @content;
    }
}

@mixin smallmobile {
    @media (max-width:375px) {
        @content;
    }
}